
<div class = container>
  <h1 class = 'h1 text-center p-4 text-muted'>Hora Actual
    <p>{{mensajeDesdeHijo}}</p>
  <div class = row>
    <div class = "col-4 p-5 border">
      <app-hora *ngIf = "show == true " [item] = "pasarhora" ></app-hora>
    </div>

    <div class = "col-4 p-5 border" >
      <app-minutos *ngIf = "show == true " [item] = "pasarhora" ></app-minutos>
    </div>

    <div class = "col-4 p-5 border">
      <app-segundos *ngIf = "show == true " [item] = "pasarhora" (eventoHijo) = onMensasjeHijo($event)></app-segundos> 
    </div>

    <div class = 'p3 text-center'>
      <button class = 'btn btn-secondary btn-lg' (click) = 'mostrar()'>Mostrar</button>
     
    </div>
</div>

